<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9MnZ0ULwgF1SmsQYxbZS3TZoyIl3-Q-8</string>
	<key>GCM_SENDER_ID</key>
	<string>380664274278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reddit-news-a7692</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-news-a7692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380664274278:ios:810b010543444765693ca7</string>
</dict>
</plist>